/*@charset "UTF-8";*/
body {
	margin:0px;
	padding:0px;
	background-attachment: scroll;
	background-image: url(../images/background.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}

#content_container {
	margin-left:auto;
	margin-right:auto;
	width:900px;
	height:530px;
	background-attachment: scroll;
	background-image: url(../images/Masters_Academy.png);
	background-repeat: no-repeat;
	background-position: 0% 61%;
}
#content_container_task {
	margin-left:240px;
	margin-right:auto;
	width:900px;
	height:530px;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 0% 61%;
}

#logo_container {
	height:90px;
	width:900px;
	margin-left:auto;
	margin-right:auto;
}

#main_container {
	height:90px;
	width:900px;
	margin-left:auto;
	margin-right:auto;
} 

#logo_image {
	width:168px;
	height:84px;
	margin-left:2px;
	margin-top:3px;
	float:left;
	background-image: url(../images/logo.jpg);
} 
#top_bar_black {
	width:100%;
	height:90px;
	background-color:#000000;
} 

#bottom_bar_black {
	width:100%;
	height:140px;
	background-color:#000000;
}

#nav_block {
	width: 400px;
	height:90px;
	float:right;
}

.nav_button {
	width: 70px;
	color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-left:5px;
	margin-top:35px;
	text-align:center;
	float:left;
}

.nav_button:link {
	color: green;
	background-color: transparent;
	text-decoration: none;
}

.nav_button:hover {
	text-decoration:none;
	background-color:#333333;
}

#header {
	width:500px;
	margin-top:100px;
	margin-bottom:250px;
	float: left;
} 

.header_content_mainline {
	font-size:35px;
	color:#000000;
	width:500px;
	font-style: italic;
} 

#header_content_boxline {
	font-size:35px;
	color:#000000;
	width:400px;
	font-style: italic;
} 

#header_content_lowerline {
	font-size:35px;
	color:#FFFFFF;
	width:350px;
	font-style: italic;
} 

#header_content_boxcontent {
	font-size:12px;
	color:#333333;
	width:400px;
	font-style: italic;
} 

#header_content_lowerboxcontent {
	font-size:12px;
	color:#CCCCCC;
	width:300px;
}

#header_content_tagline {
	font-size:12px;
	color:#333333;
	width:500px;
} 

#copywriteblock {
	margin-left:auto;
	margin-right:auto;
	width: 900px;
	color:#333333;
	font-size:10px;
	margin-top:10px;
	text-align:right;
	text-decoration:none;
	margin-bottom:10px;
}
